<!doctype html>
<html>
<head>
</head>
	<body>
			<div id='user'>
				<h3> User: <%= @name %> </h3>
				<ul id='user_details'>
					<li> Email: <%= @email %> </li>
					<li> Interests: <%= @interests.join(", ") %> </li>
				</ul>
			</div>
			
		<div id='user_links'>
			<% @other_users.each do |user| %>
			<p><a href='/users/<%=user%>'><%= user %></a></p>
			<% end %>
			
			
		</div>
	</body>

</html>
